
.google-btn {
    width: 210px;
    height: 42px;
    margin: 4px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 9px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}


.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
}

.google-btn:active {
    background: #1669F2;
}



.facebook-btn {
    width: 230px;
    height: 42px;
    margin: 4px;
    background-color: #3b5998;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}

.facebook-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.facebook-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.facebook-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
}

.facebook-btn:active {
    background: #1669F2;
}